.main {
  margin: auto;
  height: 100vh;
  background-color: white;
}
.title {
  text-align: center;
  color: black;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#on {
  height: 50px;
  width: 50px;
  margin: 30px;
  display: flex;
  justify-content: center;
}
#off {
  height: 50px;
  width: 50px;
  margin: 30px;
  display: flex;
  justify-content: center;
}
.img {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}
